<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35366E161BBC68BA00C20D7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35366E2A1BBC68BA00C20D7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35366E351BBC68BA00C20D7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
